<style>
  form{
    padding: 20px 0;
  }
  .form-field{
    display: block;
    margin-bottom: 20px;
  }
  .label-selected-file{
    margin-left: 10px;
    display: inline-block;
  }
</style>
<h2 mat-dialog-title>Create new candidate</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" placeholder="Name">
      <mat-error *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
        The name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Surname</mat-label>
      <input matInput formControlName="surname" placeholder="Surname">
      <mat-error *ngIf="form.get('surname')?.invalid && form.get('surname')?.touched">
        The surnmae is required
      </mat-error>
    </mat-form-field>

    <div class="form-field">
      <input hidden #excel type="file"  placeholder="Surname" (change)="onFileSelected($event)" accept=".xlsx, .xls">
      <button mat-stroked-button color="primary" (click)="excel.click()">Upload excel*</button>
      <span class="label-selected-file" *ngIf="form.controls['file'].value; else errorFile">
        <strong>{{ form.controls['file'].value?.name }}</strong>
      </span>
      <ng-template #errorFile>
        <div *ngIf="form.controls['file'].invalid && form.controls['file'].touched" style="color: red;">
          The excel file is required
        </div>
      </ng-template>
    </div>
    <div class="server serrors">
      <mat-error *ngFor="let error of serverErrors()" >
        - {{error}}
      </mat-error>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-flat-button color="primary" [disabled]="form.invalid" (click)="submitForm()">
    Create candidate
  </button>
</mat-dialog-actions>
